<h1>Dem Raum „{{room_name}}“ beitreten</h1>

<p>Nach dem Beitreten wirst Du zu unserem Videokonferenzsystem weitergeleitet, das durch Senfcall betrieben wird, einem gemeinnützigen Projekt, das unseren hohen Datenschutzansprüchen entspricht.</p>

<div class="form-group">
    <form method="get">
        <div class="col30"><strong><label for="name">Dein Name</label></strong></div>
        <div class="col70">
            <input type="text" id="name" name="name" class="form-element" maxlength="50" aria-describedby="name-help">
            <p id="name-help" class="form-element-help">Den Namen, den Du hier angibst, sehen alle Teilnehmenden. Du kannst natürlich auch ein Pseudonym verwenden. Gib gerne auch Deine Pronomen und ggf. Organisation in Klammern an.</p>
        </div>
        <div class="clearfix" style="margin-bottom: 20px"></div>

        <input type="submit" class="button button-primary" id="submitButton" style="float: right;" value="Beitreten">
    </form>
</div>
